apiVersion: apps/v1
kind: Deployment
metadata:
  name: task
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task
  template:
    metadata:
      labels:
        app: task
    spec:
      containers:
      - name: task
        image: smart-task-service:latest
        imagePullPolicy: Never # Assumes local build
        ports:
        - containerPort: 5001
        env:
        - name: DB_HOST
          value: "db"
        - name: DB_USER
          value: "root"
        - name: DB_PASSWORD
          value: "rootpassword"
        - name: DB_NAME
          value: "task_db"
---
apiVersion: v1
kind: Service
metadata:
  name: task
spec:
  selector:
    app: task
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
  type: ClusterIP
